In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [32]:
## data-set file
deaths_df = pd.read_csv('tb_deaths_100.csv',index_col=0,thousands=',').T ##ignore ',' if present in value for thousands(i.e.2,000)
existing_df = pd.read_csv('tb_existing_100.csv',index_col=0,thousands=',').T
new_df=pd.read_csv('tb_new_100.csv',index_col=0,thousands=',').T

In [3]:
print('deaths_df data ---')
print('deaths_df :: shape',deaths_df.shape)
deaths_df.head(2)

deaths_df data ---
deaths_df :: shape (18, 207)

"TB mortality, all forms (per 100 000 population per year)",Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis et Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1990,50,4,2,5,4,60,4,2,8,5,...,3,10,31,5,33,15,6,18,126,140
1991,49,4,2,2,4,60,4,2,8,5,...,3,9,30,5,33,40,5,17,153,161

In [70]:
print('existing_df dta ---')
existing_df.head(2)

existing_df dta ---

"TB prevalence, all forms (per 100 000 population per year)",Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis et Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1990,436,42,45,42,39,514,38,16,96,52,...,35,114,278,46,365,126,55,265,436,409
1991,429,40,44,14,37,514,38,15,91,49,...,34,105,268,45,361,352,54,261,456,417

In [76]:
print('new_df  data::')
new_df.head(2)

new_df  data::

"TB incidence, all forms (per 100 000 population per year)",Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis et Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1990,168,25,38,21,36,205,24,10,60,33,...,28,68,139,35,202,63,35,133,297,329
1991,168,24,38,7,34,209,24,10,57,32,...,27,64,134,35,200,176,34,131,349,364

In [5]:
print('deaths_df shape::', deaths_df.shape)
print('existing_df  shape::', existing_df.shape)
print('new_df shape::',new_df.shape)

deaths_df shape:: (18, 207)
existing_df  shape:: (18, 207)
new_df shape:: (18, 208)

### with above shape of data-set, means new_df have 1 extra column as compare to other data-set

In [11]:
## checking if any data-set have null values ?? if no index value , that means no na values 

print('deaths_df isna():: ', deaths_df.columns[deaths_df.isnull().any()]) 
print('existing_df isna()::', existing_df.columns[existing_df.isna().any()])
print('new_df isna()::,',new_df.columns[new_df.isnull().any()])

deaths_df isna()::  Index([], dtype='object', name='TB mortality, all forms (per 100 000 population per year)')
existing_df isna():: Index([], dtype='object', name='TB prevalence, all forms (per 100 000 population per year)')
new_df isna()::, Index(['Montenegro'], dtype='object', name='TB incidence, all forms (per 100 000 population per year)')

#### with above info, new_df have one column having na values with index/label  for 'Montenegro' country

In [27]:
new_df.loc[:,'Montenegro'] ## so this country most of data as Nan, so can ignore from our dataset

1990    NaN
1991    NaN
1992    NaN
1993    NaN
1994    NaN
1995    NaN
1996    NaN
1997    NaN
1998    NaN
1999    NaN
2000    NaN
2001    NaN
2002    NaN
2003    NaN
2004    NaN
2005     33
2006     32
2007    NaN
Name: Montenegro, dtype: object

#### we can easily observe that this country has most of the values as Nan, so we can remove this data from our data-set

In [16]:
### drop column 'Montenegro' from our data-set
new_df.drop(columns='Montenegro',inplace=True)
new_df.shape

(18, 207)

In [24]:
## checking if 'Montenegro' country is present in other data-set 
# deaths_df.loc['Montenegro' ==True]
print('Montenegro in deaths_df dataframe::', sum(deaths_df.index == 'Montenegro'))
print('deaths_df in existing_df dataframe::', sum(deaths_df.index =='Montenegro'))

Montenegro in deaths_df dataframe:: 0
deaths_df in existing_df dataframe:: 0

#### since 'Montenegro' country data-set is not available in other data-set , so we are good here 
#### So now all 3 data-set have same number of Rows/columns

In [33]:
df_sum =deaths_df.describe()
df_sum

"TB mortality, all forms (per 100 000 population per year)",Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis et Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
count,18.000000,18.000000,18.0,18.000000,18.000000,18.000000,18.0,18.000000,18.000000,18.000000,...,18.0,18.000000,18.000000,18.0,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,41.388889,4.166667,2.0,1.722222,2.833333,51.055556,4.0,1.222222,6.000000,9.055556,...,3.0,12.500000,20.055556,5.0,27.333333,12.444444,4.277778,13.833333,191.388889,210.611111
std,6.491070,0.618347,0.0,2.164026,0.785905,14.177332,0.0,0.427793,1.137593,2.531501,...,0.0,2.572479,6.282302,0.0,3.725903,9.407270,0.894792,2.935583,55.236538,44.172308
min,30.000000,3.000000,2.0,0.000000,2.000000,29.000000,4.0,1.000000,4.000000,5.000000,...,3.0,9.000000,12.000000,5.0,24.000000,2.000000,3.000000,10.000000,115.000000,140.000000
25%,36.250000,4.000000,2.0,1.000000,2.000000,37.500000,4.0,1.000000,5.000000,7.250000,...,3.0,11.000000,15.000000,5.0,24.000000,7.000000,4.000000,11.250000,138.000000,178.250000
50%,43.000000,4.000000,2.0,1.000000,3.000000,54.500000,4.0,1.000000,6.000000,9.500000,...,3.0,11.500000,19.000000,5.0,25.000000,10.000000,4.000000,13.500000,192.500000,212.000000
75%,46.750000,4.750000,2.0,2.000000,3.000000,61.750000,4.0,1.000000,7.000000,11.000000,...,3.0,15.000000,24.750000,5.0,31.750000,14.250000,5.000000,16.750000,244.750000,253.000000
max,50.000000,5.000000,2.0,9.000000,4.000000,75.000000,4.0,2.000000,8.000000,12.000000,...,3.0,16.000000,31.000000,5.0,33.000000,40.000000,6.000000,18.000000,274.000000,268.000000

In [34]:
## lets look for pct change as mean, values are having much variations across all country 
existing_df_pct_change = existing_df.pct_change()
existing_df_pct_change

"TB prevalence, all forms (per 100 000 population per year)",Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis et Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,-0.016055,-0.047619,-0.022222,-0.666667,-0.051282,0.000000,0.000000,-0.062500,-0.052083,-0.057692,...,-0.028571,-0.078947,-0.035971,-0.021739,-0.010959,1.793651,-0.018182,-0.015094,0.045872,0.019560
1992,-0.016317,0.025000,0.000000,-0.714286,-0.054054,-0.001946,-0.026316,0.000000,-0.054945,0.040816,...,-0.029412,-0.028571,-0.033582,-0.022222,-0.008310,-0.818182,0.000000,0.007663,0.083333,-0.004796
1993,-0.016588,0.024390,-0.022727,3.500000,-0.057143,-0.001949,0.000000,-0.066667,-0.046512,0.078431,...,-0.030303,0.156863,-0.034749,-0.022727,-0.011173,1.718750,-0.037037,-0.038023,0.064777,0.009639
1994,-0.019277,0.000000,0.000000,-0.055556,-0.030303,-0.003906,-0.027027,-0.071429,-0.048780,0.090909,...,-0.031250,-0.016949,-0.032000,-0.023256,-0.011299,-0.011494,0.000000,-0.011858,0.057034,0.016706
1995,-0.024570,0.023810,-0.023256,0.294118,-0.062500,-0.003922,-0.027778,-0.076923,-0.051282,0.133333,...,-0.032258,0.025862,-0.033058,0.000000,-0.011429,-0.459302,-0.038462,-0.024000,0.052158,0.030516
1996,0.000000,-0.023256,0.023810,-1.000000,-0.066667,0.007874,0.000000,0.000000,-0.040541,0.088235,...,-0.066667,-0.067227,-0.034188,-0.023810,-0.098266,0.322581,-0.020000,-0.045082,0.029060,0.031891
1997,-0.025189,0.047619,0.023256,inf,-0.178571,-0.291016,0.028571,-0.083333,-0.056338,0.013514,...,-0.035714,0.099099,-0.035398,0.000000,-0.125000,0.731707,-0.061224,-0.111588,0.039867,0.061810
1998,-0.033592,-0.022727,0.022727,-0.520000,0.043478,0.140496,0.000000,0.000000,-0.059701,-0.013333,...,0.037037,0.057377,-0.032110,-0.024390,-0.043956,-0.497653,-0.043478,-0.062802,0.012780,-0.185031
1999,-0.002674,-0.023256,0.022222,-0.333333,-0.083333,-0.072464,0.000000,-0.181818,-0.079365,0.162162,...,0.000000,0.038760,-0.246445,-0.025000,-0.030651,-0.018692,-0.045455,-0.097938,0.036278,0.096939
2000,-0.072386,-0.047619,0.043478,0.000000,-0.090909,0.380208,-0.027778,-0.111111,-0.103448,0.093023,...,-0.035714,0.037313,-0.100629,0.000000,-0.019763,-0.019048,-0.047619,-0.062857,0.001522,0.113953
2001,-0.057803,-0.150000,0.020833,-0.250000,0.000000,-0.367925,0.000000,0.125000,-0.019231,0.053191,...,-0.074074,0.064748,-0.104895,0.051282,-0.020161,-0.873786,-0.025000,-0.060976,0.033435,0.091858
2002,-0.067485,-0.058824,0.020408,-0.166667,0.050000,-0.083582,0.000000,-0.222222,-0.176471,-0.020202,...,0.080000,-0.027027,0.164062,0.000000,-0.032922,20.153846,-0.051282,-0.032468,-0.239706,0.091778
2003,0.013158,0.000000,0.020000,0.200000,-0.142857,-0.084691,0.000000,0.285714,-0.023810,-0.061856,...,-0.074074,0.055556,-0.140940,-0.048780,-0.004255,-0.465455,-0.027027,-0.020134,-0.075435,0.106830
2004,-0.081169,-0.093750,0.019608,0.500000,0.055556,0.131673,0.000000,-0.111111,-0.048780,-0.065934,...,-0.080000,-0.019737,-0.078125,-0.025641,-0.034188,-0.571429,-0.027778,-0.054795,-0.020921,0.031646
2005,-0.056537,0.000000,0.019231,0.222222,-0.052632,0.040881,-0.028571,0.000000,0.000000,-0.070588,...,0.043478,-0.033557,0.110169,0.000000,0.004425,-0.095238,-0.057143,-0.007246,-0.032051,0.042945
2006,-0.059925,-0.103448,0.037736,-0.181818,-0.055556,-0.087613,0.000000,0.125000,-0.051282,0.000000,...,0.041667,-0.069444,-0.206107,0.000000,-0.022026,0.052632,-0.030303,-0.014599,-0.068433,0.027941
2007,-0.051793,-0.153846,0.018182,-0.444444,0.117647,-0.026490,0.000000,0.000000,-0.054054,0.025316,...,-0.080000,0.044776,-0.019231,0.026316,-0.009009,-0.583333,-0.031250,-0.037037,-0.082938,0.021459

In [154]:
country_name=list(existing_df.columns.values)

In [155]:
existing_df_pct_change[existing_df_pct_change[country_name] > 0.0].head()

"TB prevalence, all forms (per 100 000 population per year)",Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis et Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.793651,NaN,NaN,0.045872,0.019560
1992,NaN,0.02500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007663,0.083333,NaN
1993,NaN,0.02439,NaN,3.5,NaN,NaN,NaN,NaN,NaN,0.078431,...,NaN,0.156863,NaN,NaN,NaN,1.718750,NaN,NaN,0.064777,0.009639
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.090909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.057034,0.016706

In [163]:
## total countries 207
## here number of countries whose % change increase w.r.t year more than 8 out of total 15 years data
tt=(existing_df_pct_change[existing_df_pct_change[country_name] > 0.03].count() >8)
print(tt.sum())
list(existing_df_pct_change.columns[tt])

25

['Azerbaijan',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Chad',
 'Congo, Rep.',
 'Congo, Dem. Rep.',
 'Equatorial Guinea',
 'Ethiopia',
 'Guinea',
 'Guyana',
 'Kenya',
 'Lithuania',
 'Mozambique',
 'Nigeria',
 'Moldova',
 'Romania',
 'Rwanda',
 'Sierra Leone',
 'Suriname',
 'Tajikistan',
 'Uganda',
 'Ukraine',
 'Tanzania',
 'Zimbabwe']

### above countries are those whose %change >0.03 in existing cases
###1 have taken threshold value as 0.03 , nearly 10% of total country 
###2 have taken number of year count as 8 , atleast more than half of total year data

In [178]:
new_df_pct_change = new_df.pct_change()
new_df_pct_change.iloc[:,1]

1990         NaN
1991   -0.040000
1992    0.041667
1993    0.040000
1994    0.000000
1995    0.038462
1996    0.000000
1997    0.037037
1998    0.000000
1999   -0.035714
2000   -0.074074
2001   -0.080000
2002    0.000000
2003   -0.043478
2004   -0.045455
2005   -0.047619
2006   -0.100000
2007   -0.055556
Name: Albania, dtype: float64

In [197]:
new_tt =new_df_pct_change[new_df_pct_change.iloc[7:,:] >0.03].count() >4
print('below are the countries for whom %change >0.03 in the recent years ::',new_tt.sum())
list(new_df_pct_change.columns[new_tt])

above are the countries for whom %change >0.03 in the recent years :: 35

['American Samoa',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Congo, Rep.',
 'Cook Islands',
 "Cote d'Ivoire",
 'Congo, Dem. Rep.',
 'Equatorial Guinea',
 'Ethiopia',
 'French Polynesia',
 'Gabon',
 'Guinea',
 'Guyana',
 'Kazakhstan',
 'Kenya',
 'Lesotho',
 'Mozambique',
 'Namibia',
 'Nauru',
 'Nigeria',
 'Palau',
 'Romania',
 'Rwanda',
 'Sierra Leone',
 'South Africa',
 'Suriname',
 'Swaziland',
 'Tajikistan',
 'Ukraine',
 'Uzbekistan',
 'Zimbabwe']

In [ ]:
#### above are the countries for whom %change >0.03 in the recent years